@model ERP.Models.StateMaster
@{
    ViewData["Title"] = "State";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-6">
            <h4 class="fw-bold">State</h4>
        </div>
        <div class="col-6" style="text-align:right;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter"> Add State </button>
        </div>
    </div>

    <!-- Bootstrap modals -->
    <div class="container-xxl flex-grow-1 container-p-y">
        @*<h5 class="card-header">Bootstrap modals</h5>*@
        <div class="card">
            @*<h5 class="card-header">Table Basic</h5>*@
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>State Name</th>
                            <th>Country Name</th>
                            <th></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (@ViewBag.GetState != null)
                        {
                            @foreach (var item in @ViewBag.GetState)
                            {
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.StateName</strong></td>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.CountryId</strong></td>
                                    <td></td>
                                    <td>
                                        <div class="dropdown" style="position:unset !important">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="AddOrEditState(@item.Id)"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="DeleteState(@item.Id)"><i class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>No Record Found</strong></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>



        @{await Html.RenderPartialAsync("_AddorEditState");}


        <hr class="m-0" />
    </div>
    <!--/ Bootstrap modals -->
</div>


@section scripts
{
    <script src="~/lib/Common/State.js"></script>
}