@model ERP.Models.CountryMaster
@{
    ViewData["Title"] = "Country";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-6">
            <h4 class="fw-bold"> Country</h4>
        </div>
        <div class="col-6" style="text-align:right;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter" onclick="AddOrEditCountry(1)"> Add Country </button>
        </div>
    </div>

    <!-- Bootstrap modals -->
    <div class="container-xxl flex-grow-1 container-p-y">
        @*<h5 class="card-header">Bootstrap modals</h5>*@
        <div class="card">
            @*<h5 class="card-header">Table Basic</h5>*@
            <div class="table-responsive text-nowrap">
                <table class="table" id="tblcountry">
                    <thead>
                        <tr>
                            <th>Country Name</th>
                            <th></th>
                            <th></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (ViewBag.CounryData != null)
                        {
                            @foreach (var item in @ViewBag.CounryData)
                            {
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.CountryName</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="dropdown" style="position:unset !important">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="AddOrEditCountry(@item.Id)"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="DeleteCountry(@item.Id)"><i class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>No Record Found</strong></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="modal-common">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">BF</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Close </button>
                        <input type="submit" name="Save" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>


        <hr class="m-0" />
    </div>
    <!--/ Bootstrap modals -->
</div>

@section scripts
{
    <script src=@Url.Content("~/js/Common.js")></script>
    <script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/Common/Country.js"></script>
}